.job-card {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 20px 10px 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tag {
  background: #f3f2f1;
  color: #595959;
  font-weight: 600;
  padding: 2px 10px;
  font-size: 14px;
  border-radius: 3px;
  margin: 10px 0;
}

.desc {
  margin-bottom: 8px;
}

.desc li {
  font-size: 14px;
  color: #6f6f6f;
}

.active {
  font-size: 13px;
  color: #6f6f6f;
}
