@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

:root {
  --primary: #2557a7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  position: relative;
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.button-theme {
  background-color: var(--primary);
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
}
p {
  margin-bottom: 0;
}
